#slider {
  z-index: 999;
  position: absolute;
  bottom: 10%;
  width: 80%;
  margin-left: 10%;
  margin-right: 10%;
}

canvas { width: 100%; height: 100% }

html {
  height: 100%;
}

body {
  width: 100%;
  min-height: 100%;
  height: 100%;
  padding: 0; 
  margin: 0;
  background-color: black;
}

.container {
  height: 100%;
  background-image: url('../img/present.jpg');
  background-size: 100%;
}
